* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #111;
    padding: 0;
    font-family: sans-serif;
}

h1,
h3,
small {
    font-weight: 400;
}

.weather-app {
    min-height: 100vh;
    background-image: url(./images/day/clear1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em, 3em, 4em, 3em;

}

.container>div {
    display: flex;
    margin: 50% 10%;
    width: 40%;
    height: 10rem;
}

.brand {
    color: whitesmoke;
    font-family: 'Jost', sans-serif;
    margin: 30px 20px;
    font-weight: bold;
    font-size: 45px;
}

.city-time,
.temp,
.weather {
    margin: 0 1em;
}

.city-time.h1.name,
.city-time span.country,
.city-time small {
    display: block;
    margin: 0;
    padding: 0 5px;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0;
    font-size: 3em;

}

.city-time span.country {
    font-size: 3em;
    /* Adjust font size if needed */
    margin-bottom: 0;
}

.temp {
    font-size: 7em;
    margin: 0;
    margin-left: 0.1em;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel form {
    margin-bottom: 3em;
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover {
    background: #fff !important;
    color: #000;
}

#search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    width: 80%;
    margin-left: 2.7rem;
    color: #fff;
    font-size: 1.1em;
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: #ccc;
}

.panel h2.name1 {
    text-align: center;
    margin-bottom: 4px;
    margin-top: 13%;
}

td {
    padding: .7rem .7rem;
    font-size: 1.5rem;
}

tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.row {
    padding: 0px 75px 0px 75px;
}

@media screen and (max-width: 800px) {

    .panel .container {
        position: relative;
        width: 100%;
        top: initial;
    }

    .container>div {
        margin: 10% 30% 100% 22%;
        width: 40%;
        height: 12rem;
        font-size: 12px;
    }

    .city-time small {
        font-size: 1rem;
    }

    .panel {
        height: 49%;
        width: 100%;
        margin-top: 60%;
        font-size: medium;
    }

    .submit {
        font-size: 1.1em;
    }

    #search {
        width: 80%;
        margin-left: 9%;
        margin-bottom: 2px;
    }

    .panel h2.name1 {
        margin-top: 12%;
    }

    td {
        font-size: 1.3rem;
    }
}

@media screen and (max-width : 500px) {
    html {
        font-size: 10px;
    }

    .brand {
        font-size: 17px;
    }

    .container>div {
        margin: 25% 10% 150% 15%;
        width: 90%;
        height: auto;
        font-size: 16px;
    }

    .panel {
        height: auto;
        width: 100%;
        margin-top: 70%;
        overflow-x: hidden;
    }

    .submit {
        font-size: 1em;
    }

    #search {
        width: 60%;
        margin: 0 5% 0 20%;
        font-size: 1.5rem;
    }

    .panel h2.name1 {
        margin-bottom: 2rem;
    }

    .temp {
        font-size: 2em;
    }

    .weather img {
        width: 40px;
        height: 40px;
    }

    .city-time h1.name,
    .city-time span.country {
        font-size: 1.2em;
    }

    .city-time small {
        font-size: 0.8em;
    }

    .panel table {
        width: 100%;
    }

    .panel table tr td {
        font-size: 0.9em;
        padding: 0.5rem;
    }
}

@media screen and (max-height: 300px) {
    .weather-app {
        min-height: 90vh;
    }

    .brand {
        font-size: 2em;
    }

    .container>div {
        margin: 10% 10% 10% 2%;
        width: 80%;
        height: auto;
        font-size: 14px;
    }

    .panel {
        height: 100vh;
        margin-top: 0;
        overflow-x: hidden;
        width: 40%;
    }

    div.panel {
        padding-top: 5%;
    }

    .submit {
        font-size: 0.9em;
    }

    #search {
        width: 70%;
        margin: 0 10%;
        font-size: 1rem;
    }

    .panel h2.name1 {
        margin-bottom: 2rem;
        font-size: 1.7rem;
    }

    .temp {
        font-size: 3em;
    }

    .weather img {
        width: 60px;
        height: 60px;
    }

    .city-time h1.name,
    .city-time span.country {
        font-size: 1.5em;
    }

    .city-time small {
        font-size: 1em;
        padding-top: 0;
    }

    .panel table {
        width: 100%;
    }

    .panel table tr td {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .row {
        padding: 0 10% 0 15%;

    }
}

footer {
    font-size: x-small;
    text-align: center;
    color: #e2dada;
}